@charset "utf-8";

*{
    padding: 0;
    margin: 0;
}

html{
    position: relative;
    font-size: 62.5%;
}

body{
    font-family: "小塚ゴシック Pro","Kozuka Gothic Pro","KozGoPro",sans-serif;
    font-size: 1.4rem;
    color: #333;
    font-weight:  bold;
}


a{
    color: #FFFFFF;
    text-decoration: none;
}

/*ヘッダー*/
header{
    width: 100%;
    height: 65px;
    background-color: #64b9e6;
}

.head_position{
    width: 1000px;
    height: 65px;
    background-color: #64b9e6;
    margin: 0 auto;
}

.navi{
    width: 480px;
    display: flex;
    position: relative;
    top: 25px;
    left: 520px;
}

.navi li{
    list-style: none;
    font-size: 2rem;
    padding-right: 20px;
}

.navi a{
    position: relative;
    display: inline-block;
    padding-left: 15px;
}

.navi a::before{
    content: '';
    width: 9px;
    height: 9px;
    border: 0px;
    border-top: solid 2px #FFFFFF;
    border-right: solid 2px #FFFFFF;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 50%;
    left: -3px;
    margin-top: -7px;
}

.arrow{
    position: relative;
    display: inline-block;

}

.arrow::before{
    content: '';
    width: 9px;
    height: 9px;
    border: 0px;
    border-top: solid 2px #FFFFFF;
    border-right: solid 2px #FFFFFF;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 50%;
    right: 2px;
    margin-top: -13px;
}

#warp{
    width: 1000px;
    font-size: 2.4rem;
    margin: 0 auto;
}

.groupimg{
    width: 1000px;
}

.groupimg img{
    width: 100%;
}

/*ブリーズimgコンテンツ*/
.main{
    width: 750px;
    margin: 0 auto;
}

.main h1{
    text-align: center;
    font-size: 3.2rem;
    position: relative;
    margin: 10px 0px;
}

.main h1::before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: -2px;
    display: inline-block;
    width: 500px;
    height: 5px;
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translate(-50%);
    background-color: #93c3d8;
}

/*idタグ紹介コンテンツ*/
h2{
    font-size: 2.8rem;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    border-radius: 0px 20px;
    text-align: center;
    background-color: #FF4568;
    padding: 15px;
    width: 130px;
    margin: 0 auto;
}

/*事業内容*/
#content{
    margin: 30px 0px;
}

.development_ses{
    width: 600px;
    margin: 0 auto;
}

.development{
    background-color: #64b9e6;
    margin: 40px 0px;
}

.development_ses_comment{
    position: relative;
    display: flex;
}

.development_ses_color{
    background-color: #FFFFFF;
    border-radius: 15px;
    width: 52%;
    height: 220px;
    font-size: 2rem;
    margin: 10px;
}

.development_ses_comment ul{
    margin: 15px;
    list-style: none;
}

.development_ses_comment ul h3{
    font-size: 2rem;
    display: block;
    border-bottom: 2px solid  #FF4568;
    margin-bottom: 10px;
}

.development_ses_comment li{
    font-size: 1.2rem;
}

.development_ses_img{
    height: 100%;
    margin: 0 auto;
    position: relative;
    top: 15px;
}

.ses{
    background-color: #64b9e6;
    margin: 40px 0px;
}

.others{
    color: #2c2c2f;
    border-bottom: solid 2.5px #93c3d8;
}

.others1{
    display: flex;
    margin-bottom: 20px;
    height: 90px;
    border-top: solid 2.5px #93c3d8;
}

.others2{
    background-color: #93c3d8;
    color: #FFFFFF;
    font-size: 1.4rem;
    width: 300px;
    height: 48px;
    text-align: center;
}

.others2 h3{
    margin: 10px 0px;
}

.others3{
    width: 310px;
    font-size: 1.2rem;
    padding: 0px 75px;
    margin-top: 3px;
}

.others3 ul{
    list-style: none;
}

/*関連会社*/
#affiliated{
    margin-bottom: 30px;
}

#affiliated h2{
    margin-bottom: 30px;
}

#affiliated p{
    margin-bottom: 5px;
}

#affiliated .others1{
    height: 180px;
}

.others4{
    height: 100%;
    margin-bottom: 0px;
}

p span{
    position: relative;
}

p span::before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 2px;
    display: inline-block;
    width: 100%;
    height: 1px;
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translate(-50%);
    background-color: #333;}

.otehers_img{
    text-align: center;
}

/*所在地*/
#location{
    margin-bottom: 30px;
}

#location h2{
    margin-bottom: 30px;
}

.map_info{
    display: flex;
}

.map{
    width: 50%;
    text-align: center;
}

.info{
    margin: 50px 10px 50px 30px;
}

.info2{
    font-size: 1rem;
    margin-left: 3px;
}

.info2 h3{
    font-size: 1.6rem;
}

/*フッター*/
footer{
    width: 100%;
    background-color: #93c3d8;
}

.footer_all{
    width: 1000px;
    margin: 0 auto;
    text-align: center;
    background-color: #93c3d8;
    color: #FFFFFF;
}

.footer1{
    padding: 10px 0px;
    margin: 0 auto;
    width: 70px;
}


.triangle{
    margin: auto;
    position: relative;
    width: 0px;
    height: 0px;
    background: transparent;
    border-bottom: 25px solid #FFFFFF;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
}

.footer2{
    border-top: solid 1px #FFFFFF;
    padding: 20px 0px;
}

@media screen and (max-width:1000px){
}