@charset "utf-8";

*{
    padding: 0;
    margin: 0;
}

html{
    position: relative;
    font-size: 62.5%;
}

body{
    font-family: "小塚ゴシック Pro","Kozuka Gothic Pro","KozGoPro",sans-serif;
    font-size: 1.4rem;
    color: #333;
    font-weight:  bold;
}

/*ヘッダー*/
header{
    width: 100%;
    height: 65px;
    background-color: #64b9e6;
    position: fixed;
    z-index: 2;
}

.head_position{
    max-width: 1000px;
    width: 100%;
    position: relative;
    margin: 0 auto;
}

.navi{
    width: 480px;
    display: flex;
    position: absolute;
    top: 25px;
    right: 5px;
}

.navilist{
    display: inline-block;
}

.navi li{
    list-style: none;
    font-size: 2rem;
    padding-right: 20px;
}

.navi a{
    position: relative;
    display: inline-block;
    padding-left: 15px;
    color: #FFFFFF;
    text-decoration: none;
}

.arrow{
    position: relative;
    display: inline-block;

}

.arrow::before, .arrow::after{
    content: '';
    width: 9px;
    height: 9px;
    border: 0px;
    border-top: solid 2px #FFFFFF;
    border-right: solid 2px #FFFFFF;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 50%;
    left: -3px;
    margin-top: -6px;
}

.arrow::after{
    left: -10px;
}

/*メインコンテンツ*/
#warp{
    width: 1000px;
    font-size: 2.4rem;
    margin: 0 auto;
    padding-top: 65px;
    position:relative;
    z-index:1;
}

.groupimg{
    width: 1000px;
}

.groupimg img{
    width: 100%;
    height: 100%;
}

/*ブリーズimgコンテンツ*/
.main{
    width: 750px;
    margin: 0 auto;
}

.main h1{
    text-align: center;
    font-size: 3.2rem;
    position: relative;
    margin: 10px 0px;
}

.main h1::before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: -2px;
    display: inline-block;
    width: 500px;
    height: 5px;
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translate(-50%);
    background-color: #93c3d8;
}

.break:before {
    /*所在地でも使用*/
    content: "\A";
    white-space: normal;
}


/*idタグ紹介コンテンツ*/
h2{
    font-size: 2.8rem;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    border-radius: 0px 20px;
    text-align: center;
    background-color: #FF4568;
    padding: 15px;
    width: 130px;
    margin: 0 auto;
}

/*事業内容*/
#content{
    padding-top: 65px;
}

.development_ses{
    width: 600px;
    margin: 0 auto;
}

.development{
    background-color: #64b9e6;
    margin: 40px 0px;
}

.development_ses_comment{
    position: relative;
    display: flex;
}

.development_ses_color{
    background-color: #FFFFFF;
    border-radius: 15px;
    width: 52%;
    height: 220px;
    font-size: 2rem;
    margin: 10px;
}

.development_ses_comment ul{
    margin: 15px;
    list-style: none;
}

.development_ses_comment ul h3{
    font-size: 2rem;
    display: block;
    border-bottom: 2px solid  #FF4568;
    margin-bottom: 10px;
    padding-top: 0px;
}

.development_ses_comment li{
    font-size: 1.2rem;
}

.development_ses_img{
    height: 100%;
    margin: 0 auto;
    position: relative;
    top: 15px;
}

.ses{
    background-color: #64b9e6;
    margin: 40px 0px;
}

.others{
    color: #2c2c2f;
    border-bottom: solid 2.5px #93c3d8;
}

.others1{
    width: 100%;
    display: flex;
    margin-bottom: 20px;
    height: 90px;
    border-top: solid 2.5px #93c3d8;
    margin-bottom: 20px;
}

.others2{
    background-color: #93c3d8;
    color: #FFFFFF;
    font-size: 1.4rem;
    width: 300px;
    height: 48px;
    text-align: center;
    margin-bottom: 10px;
}

.others2 h3{
    margin: 0px;
    padding: 12px 0px;
}


.others3{
    width: 310px;
    font-size: 1.2rem;
    padding: 0px 75px;
    margin-top: 3px;
}

.others3 ul{
    list-style: none;
}

.others3 ul li{
    line-height: 1.5;
    font-size: 1rem;
}

/*関連会社*/
#affiliated{
    padding-top: 65px;
}

#affiliated h2{
    margin-bottom: 40px;
}

#affiliated p{
    margin-bottom: 5px;
}

#affiliated .others1{
    height: 100%;
}

.others4{
    height: 100%;
    margin-bottom: 0px;
}

.underline{
    text-decoration: underline;
}



.otehers_img{
    text-align: center;
}

/*所在地*/
#location{
    padding: 65px 0px 40px 0px;
    margin: 0 auto;
}

#location h2{
    margin-bottom: 40px;
}

.map_info{
    width: 100%;
    display: flex;
}

.map{
    width: 50%;
    height: 350px;
    text-align: center;
}

.map iframe{
    width: 100%;
    height: 100%;
}


.info{
    padding: 85px 0px;
    margin: 0 auto;
}

.info2{
    font-size: 1rem;
    margin-left: 3px;
}

.info2 h3{
    font-size: 1.6rem;
}

/*フッター*/
footer{
    width: 100%;
    min-width: 1000px;
    background-color: #93c3d8;
    position: relative;
    z-index: 1;
}

.footer_all{
    margin: 0 auto;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
}

.footer_all a{
    color: #FFFFFF;
    text-decoration: none;
}

.footer1{
    padding: 10px 0px;
    margin: 0 auto;
    width: 70px;
}


.triangle{
    margin: auto;
    position: relative;
    width: 0px;
    height: 0px;
    background: transparent;
    border-bottom: 25px solid #FFFFFF;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
}

.footer2{
    border-top: solid 1px #FFFFFF;
    padding: 20px 0px;
}

/*メディアクエリ*/
@media screen and (max-width:480px){

    /*ヘッダー*/
    .head_position{
        max-width: 320px;
    }

    .navi{
        width: 320px;
        right: -10px;
    }

    .navilist{
        display: none;
    }

    .navi li{
        padding-right: 15px;
    }

    .arrow::before, .arrow::after{
        margin-top: -7px;
    }

    /*メインコンテンツ*/
    #warp{
        width: 100%;
        min-width: 320px;
    }

    .groupimg{
        width: 100%;
    }

    .groupimg img{
        height: 130px;
    }

    /*ブリーズimgコンテンツ*/
    .main{
        width: 100%;
    }

    .main h1{
        font-size: 2.6rem;
    }

    .break:before {
        content: "\A";
        white-space: pre;
    }

    .main h1::before{
        width: 300px;
        height: 5px;
    }

    /*idタグ紹介コンテンツ*/
    /*h2変更なし*/

    /*事業内容*/
    .development_ses{
        width: 90%;
    }

    .development{
        margin: 10px 0px;
    }

    .development_ses_comment{
        position: relative;
        display: inline-block;
        width: 100%;
    }

    .development_ses_color{
        width: 95%;
        margin: 0 auto;
    }

    .development_ses_comment ul{
        margin: 10px;
    }

    .development_ses_comment ul h3{
        padding: 10px 0px 0px 5px;
    }

    .development_ses_img{
        height: 50%;
        top: 5px;
        text-align: center;
    }

    .others1{
        display: inline-block;
        margin-bottom: 0px;
        height: 100%;
        border-top: none;
        margin-bottom: 10px;
    }

    .others2{
        width: 100%;
    }

    .others3{
        padding: 0;
        margin: 0 auto;
    }

    /*関連会社*/
    #affiliated h2{
        margin-bottom: 10px;
    }

    /*所在地*/
    #location h2{
        margin-bottom: 10px;
    }

    .map_info{
        display: inline-block;
    }

    .map{
        width: 100%;
    }

    .map iframe{
        width: 95%;
    }

    .info{
        padding: 20px 40px 0px 40px;
    }

    /*フッター*/
    footer{
        min-width: 320px;
    }
}